<div class="container">
  
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.udemy.com">Anagrafica Movimento 5 Stelle Olbia</a> di <a href="">Giovanni Piccinnu</a>
      by <a href="#">Ichnos</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'Chi Siamo', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>